@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Racing+Sans+One&display=swap');


.custom-navbar {
    background-color: rgba(0,0,0,.2);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo-text {
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.navbar-toggler {
    background-color: #0466c8;
}

.custom-link {
    color: #0466c8;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 0.3rem;
    transition: all 0.3s ease-in-out;
}

.custom-link:hover {
    color: #ffffff
}

.custom-link.active {
    color: #ffffff;
    text-shadow: #ffffff;
}

.custom-link.active::after {
    content: '';
    position: absolute;
    left: 0.3rem;
    right: 0,3rem;
    bottom: 0;
    height: 2px;
    background-color: #ffffff;
    box-shadow: #ffffff;
}

.custom-link.active,
.custom-link.active:focus,
.custom-link.active:visited,
.custom-link.active:active {
    color: #ffffff;
    text-shadow:#ffffff;
}